@page
@using ComunaHealth;
@model ComunaHealth.Pages.Identity.LoginModel
@inject SignInManager<Modelos.ModeloUsuario> SignInManager
@{
    <!--Contenedor-->
<div class="container">

    @if (!SignInManager.IsSignedIn(User))
        return;

    @if (User.IsInRole(Constantes.NombreRolPaciente))
    {
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

        <form class="form-inline align-top w-75">

            <input type="search" class="form-text w-100" id="barraBusquedaNombre" tipo-usuario=@Constantes.NombreRolPaciente onchange="Prueba(barraBusquedaNombre);" />

            <input type="text" class="form-text w-100" id="barraBusquedaDNI" onchange="Prueba(barraBusquedaNombre);" />

            <select class="custom-select w-100" id="selectMunicipio" asp-items="@Html.GetEnumSelectList(typeof(ComunaHealth.EMunicipio))" onchange="Prueba(barraBusquedaNombre);" />

            <select multiple="multiple" class="selectpicker w-100" id="selectEspecializacion" asp-items="EnumHelpers.ToSelectListItemList(EnumHelpers.ObtenerValoresFlag<EEspecializacion>(EEspecializacion.NINGUNA))" />
        </form>

        <div class="container" id="contenedor">



        </div>

    }
    else if (User.IsInRole(Constantes.NombreRolMedico))
    {
        <div>
            <span>
                Buscador para medicos yajuuuuu
            </span>
        </div>
    }
    else if (User.IsInRole(Constantes.NombreRolAdministrador))
    {
        <div>
            <span>
                Buscador para administradores yajuuuuu
            </span>
        </div>
    }

    @section Scripts
    {
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

        <script type="text/javascript">

            function Prueba(barraBusquedaNombre)
            {
                switch (barraBusquedaNombre.getAttribute("tipo-usuario"))
                {
                    case "@Constantes.NombreRolPaciente":
                        {

                            break;
                        }
                }
            }

        </script>
    }

</div>
}