@model ComunaHealth.Pages.Chat.ChatModel

<div class="align-self-start d-flex" style="max-width: 40%;">

    <div class="p-2" style="overflow-wrap: break-word; background: aqua;">
        <span> Un mensajito re piola para probar cosas piolas como lo es un sistema de chat bien UwU </span>
    </div>
    <div class="align-self-end ml-2">
        11:00
    </div>
</div>

<div class="align-self-end d-flex" style="max-width: 40%;">

    <div class="align-self-end mr-2">
        @DateTime.UtcNow
    </div>

    <div class="p-2" style="overflow-wrap: break-word; background: aqua;">
        <span> Re pelotudo </span>
    </div>
</div>