@using Microsoft.AspNetCore.Identity
@using ComunaHealth.Modelos
@inject SignInManager<ModeloUsuario> SignInManager
@inject UserManager<ModeloUsuario> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if (!User.IsInRole(Constantes.NombreRolAdministrador))
    {
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-page="/Index" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" asp-page-handler="MenuCitas">
                <button  type="submit" class="nav-link btn btn-link text-dark">Citas</button>
            </form>
        </li>
    }
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="" asp-page="/Index" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" asp-page-handler="Logout">
            <button  type="submit" class="nav-link btn btn-link text-dark">Cerrar sesion</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Identity/Register">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Identity/Login">Ingresar</a>
    </li>
}
</ul>
