@page
@model ComunaHealth.Pages.Citas.MenuCitasModel
@{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!--Contenedor-->
    <div class="container">

        @Html.ValidationSummary(true, "", new{@class="text-danger"})

        <!--Form registro-->
        <form method="post"
              enctype="multipart/form-data">



            <input type="submit" class="btn-primary"/>
        </form>

    </div>
}