@model ComunaHealth.Pages.BuscadorModel

<div id="contenedor">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    @*Form busqueda medico*@
    <form method="post"
          class="d-flex flex-column justify-content-start align-top w-75"
          data-ajax="true"
          data-ajax-method="post"
          data-ajax-mode="replace"
          data-ajax-update="#buscador"
          data-ajax-url="Buscador?handler=BuscarAdministradores">

        @*Nombre medico buscado*@
        <div class="form-group">
            <label asp-for="Nombre"></label>
            <input type="text" class="form-text w-100" asp-for="Nombre" />
        </div>

        @*DNI del medico*@
        <div class="form-group">
            <label asp-for="DNI"></label>
            <input type="text" class="form-text w-100" asp-for="DNI" />
        </div>

        @*Municipio en el que reside el medico*@
        <div class="form-group">
            <label asp-for="RegionesSanitarias"></label>
            <select multiple="multiple" title="Nada seleccionado"class="selectpicker w-100" asp-items="@EnumHelpers.ToSelectListItemList(EnumHelpers.ObtenerValoresFlag<ERegionSanitariaBSAS>(ERegionSanitariaBSAS.NINGUNA))" asp-for="RegionesSanitarias"></select>
        </div>

        @*Boton buscar*@
        <div class="form-group">
            <input type="submit" class="btn btn-light" value="Buscar">
        </div>
    </form>

    <div class="table table-bordered">

        @*Listamos los administradores encontrados*@
        @foreach (var admin in Model.AdministradoresEncontrados)
        {
            <div class="row">

                <div class="col-2">@admin.UserName</div>
                <div class="col-4">@admin.RegionSanitaria</div>
                
                @*Boton eliminar*@
                <button class="btn btn-light" title="Eliminar" onclick="establecerIdAdminEliminar(@admin.Id); toggleDivConfirmacion();">
                    <i class="fas fa-user-minus"></i>
                </button>

            </div>
        }
        
        @*Cartel confirmacion de eliminacion*@
        <div class="position-absolute collapse container-fluid sticky-top bg-light pb-5 w-100" id="divConfirmacion" style="top: 25%">

            <div class="row justify-content-center my-5">
                <h4>¿Desea eliminar este administrador?</h4>
            </div>

            <div class="row d-flex justify-content-around pt-5">
                 
                <form method="post">
                    <input type="hidden" id="idAdminEliminar" name="idAdminEliminar" />
                    
                    @*Boton confirmar eliminacion*@
                    <button class="btn btn-light" title="Confirmar" type="submit" asp-page-handler="EliminarAdministrador" onclick="toggleDivConfirmacion();">
                        Confirmar
                    </button>
                </form>
                
                @*Boton cancelar*@
                <button class="btn btn-light" title="Cacelar" onclick="toggleDivConfirmacion();">
                    Cancelar
                </button>
            </div>

        </div>

    </div>
    
    <script type="text/javascript">

        @*Funcion toggle div confirmacion*@
        function toggleDivConfirmacion() {
            $('#divConfirmacion').fadeToggle("slow");
            
        }

        @*Funcion que establece la id del administrador actual a eliminar*@
        function establecerIdAdminEliminar(idAdmin) {
            $('#idAdminEliminar').attr("value", idAdmin);
        }
    </script>
</div>